.fullTextEssential{
    color: rgb(80, 80, 80);
}
.textEssential{
    color: rgb(41, 148, 197);
}
.gridLayoutEssential{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}