.fullTextCategory{
    color: rgb(80, 80, 80);
}
.textCategory{
    color: rgb(9, 131, 161);
}
.gridlLayoutCategory{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}