.footer {
  background-color: rgb(9, 131, 161);
  font: 1em sans-serif;
  padding: 2px 20px 2px 20px;
  color: white;
  text-align: center;
  margin-top: 20px;
}
.itemContact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconFooter {
  margin-right: 20px;
}
.titleColumnFooter {
  border-bottom: solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 60rem) {
  .footer {
    padding: 10px 80px 10px 80px;
    display: flex;
    text-align: left;
    justify-content: space-around;
  }
  .titleColumnFooter {
    border-bottom: solid white;
  }
}
