.fullTextSmartphone{
    color: rgb(80, 80, 80);
}
.textSmartphone{
    color: rgb(41, 148, 197);
}.gridLayoutSmartphone{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}